@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

textarea {
    width: 100%;
    height: 100%;
}

input {
    width: 100%;
    height: 100%;
}

#article-holder {
    text-align: center;
}

#article-holder p span {
	font-family: 'Open Sans', sans-serif !important;
    font-size: 40px;
}

#article-holder h3 {
    color: grey;
}

#article-holder img {
	max-width: 680px;
}

h2.art-title {
	font-family: 'Orbitron', sans-serif;
    font-size: 34px;
}

#single-article-container {
	max-width: 80%;
	font-size: 20px;
	margin: 0px auto;
	text-align: center;
	padding: 10px 100px;
}

#edit-article-holder {
    width: 80%;
}

.button-controls a {
	position:fixed;
	width:45px;
	height:45px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float-e {
	bottom:70px;
	right:90px;
	background-color: #21ba45;
}

.button-controls a i {
	margin-top:16px;
}
.float-t {
	bottom:20px;
	right:90px;
	background-color: red;
}

#create-article-container {
	width: 80%;
	margin: auto;
}

#create-article-container .public-DraftEditor-content[contenteditable=true] {
    height: 30vh;
}

#articles-list-container {
	width: 55%;
	margin-left: 20vw;
	margin-top: 20px;
}

.article-container {
	padding: 35px;
}

.image {
	width: 80px !important;
	height: 80px !important;
}

.authors-haven-header {
	padding-top: 200px;
	background-image: url('./bg.jpg');
	background-position: center;
	background-size: cover;
	text-align: center;
	font-size: 40px;
	height: 500px !important;
	font-family: 'Indie Flower', cursive;
}

.article-title {
	font-family: 'Open Sans', sans-serif;
	color: black !important;
}

.article-description {
	color: grey !important;
	letter-spacing: 1.0px;
	font-size: 16px;
}

.article-tags {
	background-color: #cccccc !important;
}

#pagination {
	margin-left: 280px;
    margin-bottom: 20px;
}

.cover-image {
	width: 100%;
	height: 60vh;
	background-image: url('https://picsum.photos/1200/800/?random');
}