.home {
  padding-top: 5%;
}

#pull-right {
  padding-left: 31%;
}

#personal-info {
  padding-left: 28%;
}

#username {
  text-align: center;
  padding-top: 1%;
}

.padding {
  padding: 20px !important;
  background: yellow;
}

#the-btn {
  padding-left: 10%;
  top: 500%;
}

#new {
  padding-top: 15%;
}

#form {
  padding-top: 10%;
  width: 60%;
  padding-left: 30%;
}

#profile-div {
  margin: auto;
  width: 70%;
}

#table-div {
  width: 50%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.modal {
  width: 50% !important;
  opacity: 1 !important;
  margin-left: 25% !important;
  height: auto;

  i {
    color: #000 !important;
    position: initial !important;
    margin: 1.5rem !important;
    padding: 0 !important;
  }
}

#followers {
  width: 20% !important;
  margin-left: 30vw;
}

a {
  color:black;
}

#comment {
  background-color: #21ba45 !important;
  border: 1px solid #21ba45 !important;
  margin-left: 474px;
}

#comment :hover {
  background-color: white !important;
  color: #21ba45 !important;
  border: 1px solid #21ba45 !important;
}

#comment-field {
  height: 40px;
  overflow: hidden;
}

#comment-field:focus {
  height: 150px;
  overflow: hidden;
}

#cancel-comment-button, #delete-comment-button, #update-popup-button{
  background-color: #21ba45 !important;
  border: 1px solid #21ba45 !important;
}

#cancel-comment-button:hover, #delete-comment-button:hover, #update-popup-button:hover{
  background-color: white !important;
  color: #21ba45 !important;
  border: 1px solid #21ba45 !important;
}

#avatar{
  margin-left: 200px;
}

#author, #date{
  margin-right: 200px;
}

.comment-body{
  margin-left: 200px !important;
  margin-right: 200px !important;
  margin-top: 8px !important;
}

#reply-text{
  color: #000 !important;
  font-size: 12px !important;
}

#edit {
  background-color: #21ba45;
  color: white;
  border: 1px solid #21ba45;
}
#edit:hover {
  background-color: white;
  color: #21ba45;
  border: 1px solid #21ba45;
}
#card {
  margin-bottom: 18px;
}
