.home {
  padding-top: 5%;
}
#grid_system {
  padding-top: 10%;
}

#pull-right {
  padding-left: 31%;
}

#personal-info {
  padding-left: 28%;
  font-size: 45px;
}

#username {
  text-align: center;
  padding-top: 1%;
}

.padding {
  padding: 20px !important;
  background: yellow;
}

#the-btn {
  padding-left: 10%;
  top: 500%;
}

#new {
  padding-top: 15%;
}

#form {
  padding-top: 10%;
  width: 60%;
  padding-left: 30%;
}

#profile-div {
  margin: auto;
  width: 70%;
}

#table-div {
  width: 50%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.modal {
  width: 50% !important;
  opacity: 1 !important;
  margin-left: 25% !important;
  height: auto;

  i {
    color: #000 !important;
    position: initial !important;
    margin: 1.5rem !important;
    padding: 0 !important;
  }
}
